In [1]:
import numpy as np
import pandas as pd
dict_data = {}
def read_file(path:str):
    for i in range(6,14):
        data = np.load(path+f"{i}.npy", allow_pickle=True)
        for j in data.tolist().keys():
            dict_data[j] = data.tolist()[j]

In [2]:
read_file("./data_2/")

In [3]:
indices = []
suffix_to_find = "_Name"
for i, word in enumerate(list(dict_data.keys())):
    if word.endswith(suffix_to_find):
        indices.append(int(word.split("_")[0]))

In [4]:
indices.sort()

In [5]:
keys_dict = [[f"{i}_Name",f"{i}_A",f"{i}_B",f"{i}_C",f"{i}_SUM",f"{i}_time",f"{i}_KBO",f"{i}_KBZ",f"{i}_open|close: 0|1"] for i in indices]

In [6]:
list_dataframe =[]

In [7]:
for Name, A, B, C, SUM, time, KBO, KBZ, open_cloce in keys_dict:
    dict_prom = {}
    dict_prom["A"] = dict_data[A]
    dict_prom["B"] = dict_data[B]
    dict_prom["C"] = dict_data[C]
    dict_prom["SUM"] = dict_data[SUM]
    dict_prom["time"] = dict_data[time]
    dict_prom["KBO"] = dict_data[KBO]
    dict_prom["KBZ"] = dict_data[KBZ]
    dict_prom["open_cloce"] = dict_data[open_cloce]
    df_prom = pd.DataFrame(dict_prom)
    list_dataframe.append(df_prom)

In [8]:
list_dataframe[3]

,A,B,C,SUM,time,KBO,KBZ,open_cloce
0,1.122342,-0.024443,-0.170851,0.927047,0.0000,-130.94042,-0.508159,0
1,-16.557914,-0.044171,-0.174331,-16.776415,0.0001,-129.94042,-0.508159,0
2,1.137356,-0.033900,-0.154643,0.948812,0.0002,-144.94042,0.491841,0
3,0.930497,-0.043052,-0.148783,0.738662,0.0003,-145.94042,1.491841,0
4,1.023083,-0.062678,-0.162702,0.797703,0.0004,-129.94042,0.491841,0
...,...,...,...,...,...,...,...,...
204795,-0.273123,-0.160909,-0.132117,-0.566149,20.4795,167.05958,0.491841,0
204796,-0.272289,-0.160401,-17.450133,-17.882823,20.4796,180.05958,0.491841,0
204797,-0.260611,-22.554160,-15.757489,-38.572261,20.4797,183.05958,-0.508159,0
204798,-0.390732,-0.178501,-13.104155,-13.673388,20.4798,171.05958,-0.508159,0
204799,6.518286,-19.606645,-0.108492,-13.196850,20.4799,164.05958,0.491841,0

In [9]:
list_dataframe_name = [f"{i}" for i in range(len(list_dataframe))]

In [10]:
result = pd.concat(list_dataframe, keys=list_dataframe_name)

In [11]:
result

                     A           B           C        SUM     time  \
0   0      -218.361111 -123.163731  312.142021 -29.382821   0.0000
    1      -220.613551  -98.204677  338.879480  20.061252   0.0001
    2      -180.935953 -123.338270  351.112305  46.838082   0.0002
    3      -196.529769  -70.278464  331.889295  65.081063   0.0003
    4      -239.845924  -92.095818  293.268521 -38.673222   0.0004
...                ...         ...         ...        ...      ...
115 205819   -0.988768   -1.030120   -0.641637  -2.660525  20.5819
    205820   -1.365814   -0.869215   -0.551579  -2.786608  20.5820
    205821   -1.203222   -0.945289   -0.464023  -2.612534  20.5821
    205822   -1.189206   -1.079377   -0.544699  -2.813282  20.5822
    205823   -1.560645   -1.002755   -0.467775  -3.031175  20.5823

                   KBO        KBZ  open_cloce
0   0        -9.972943 -66.746751           1
    1         7.027057 -66.746751           1
    2        -4.972943 -65.746751           1
    3        -0.972943 -65.746751           1
    4        10.027057 -64.746751           1
...                ...        ...         ...
115 205819  204.239010   0.505859           0
    205820  221.239010  -0.494141           0
    205821  203.239010  -0.494141           0
    205822  216.239010   0.505859           0
    205823  211.239010   0.505859           0

[21120511 rows x 8 columns]

In [12]:
df_new = result.groupby(by=["open_cloce"])

In [13]:
clone, open = list(df_new)
clone_new = clone[1]
open_new = open[1]

In [14]:
clone_new

                    A          B         C        SUM     time         KBO  \
1   0       -2.046953  -0.569540  0.544577  -2.071916   0.0000 -122.776209
    1       -1.655997  -0.474371  0.609774  -1.520594   0.0001 -139.776209
    2       -1.810876 -20.003125  0.596967 -21.217033   0.0002 -126.776209
    3       15.110834 -23.104345  4.037465  -3.956046   0.0003 -127.776209
    4       -2.213861  -0.492954  0.390897  -2.315919   0.0004 -138.776209
...               ...        ...       ...        ...      ...         ...
115 205819  -0.988768  -1.030120 -0.641637  -2.660525  20.5819  204.239010
    205820  -1.365814  -0.869215 -0.551579  -2.786608  20.5820  221.239010
    205821  -1.203222  -0.945289 -0.464023  -2.612534  20.5821  203.239010
    205822  -1.189206  -1.079377 -0.544699  -2.813282  20.5822  216.239010
    205823  -1.560645  -1.002755 -0.467775  -3.031175  20.5823  211.239010

                 KBZ  open_cloce
1   0       0.501510           0
    1       0.501510           0
    2      -0.498490           0
    3      -1.498490           0
    4       0.501510           0
...              ...         ...
115 205819  0.505859           0
    205820 -0.494141           0
    205821 -0.494141           0
    205822  0.505859           0
    205823  0.505859           0

[10696191 rows x 8 columns]

In [15]:
open_new

                     A           B           C        SUM     time        KBO  \
0   0      -218.361111 -123.163731  312.142021 -29.382821   0.0000  -9.972943
    1      -220.613551  -98.204677  338.879480  20.061252   0.0001   7.027057
    2      -180.935953 -123.338270  351.112305  46.838082   0.0002  -4.972943
    3      -196.529769  -70.278464  331.889295  65.081063   0.0003  -0.972943
    4      -239.845924  -92.095818  293.268521 -38.673222   0.0004  10.027057
...                ...         ...         ...        ...      ...        ...
114 228347    5.927607 -295.764441  238.450489 -51.386345  22.8347 -13.935429
    228348  -11.918649 -229.788761  281.440129  39.732718  22.8348   6.064571
    228349   -8.453357 -254.922354  303.983477  40.607766  22.8349  -9.935429
    228350  -30.111435 -282.499490  269.556814 -43.054110  22.8350   4.064571
    228351  -36.002432 -212.334878  254.877425   6.540115  22.8351   7.064571

                   KBZ  open_cloce
0   0       -66.746751           1
    1       -66.746751           1
    2       -65.746751           1
    3       -65.746751           1
    4       -64.746751           1
...                ...         ...
114 228347  245.396244           1
    228348  243.396244           1
    228349  243.396244           1
    228350  243.396244           1
    228351  241.396244           1

[10424320 rows x 8 columns]

In [16]:
# transition_indices = []

# for i in range(1, len(clone_new)):
#     if clone_new['SUM'][i - 1] > 0 and clone_new['SUM'][i] < 0:
#         transition_indices.append(i)

In [17]:
# list_data = [j for i,j in clone_new.index.tolist()]

In [18]:
# data_list_num = [i for i in range(len(list_data))]

In [19]:
# import matplotlib.pyplot as plt

# plt.figure(figsize=(10, 6))
# plt.plot(data_list_num, clone_new['SUM'], label='SUM')
# plt.scatter(transition_indices, clone_new['SUM'][transition_indices], c='red', marker='o', label='Переходы')
# plt.xlabel('Индекс')
# plt.ylabel('Значение')
# plt.legend()
# plt.show()